.container {
  margin: 20px 200px;
}
.banner_top {
  background-color: #fafafa;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.banner_top p {
  color: #a1a1aa;
}

.body .body_title {
  text-align: left;
  font-weight: 0.1;
  font-size: 20px;
  font-style: italic;
}

.body_content {
  display: flex;
  justify-content: space-around;
}
