.container {
  background-color: #fafafa;
  padding: 0px 30px 30px 30px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  font-style: italic;
}

.item_title {
  font-style: italic;
  text-align: left;
}

.item_value,
.total_value {
  font-style: italic;
  text-align: right;
}

.item_value {
  color: #a1a1aa;
}

.input_coupon {
  grid-row: 3;
  grid-column: 1/-1;
  margin-top: 10px;
}

.btn_apply_coupon {
  grid-row: 4;
  grid-column: 1/-1;
}

.btn_apply_coupon {
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_ul_list {
  padding-left: 0px;
}

.order_li_item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.order_li_item {
  border-bottom: 1px solid #a1a1aa;
}

.order_li_item_name {
  font-style: italic;
  font-weight: bold;
  color: #000;
}

.order_li_item_price {
  color: #a1a1aa;
  font-style: italic;
}

.total {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-style: italic;
}

.total_value {
  color: #52525b;
}
