.product_detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: min-content;
  justify-content: center;
}

.name {
  font-weight: bold;
}

.img {
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.content {
  grid-column: 2/5;
  padding: 20px 20px 20px 50px;
}

.view_detail {
  display: flex;
  align-items: center;
  background-color: #000;
  width: fit-content;
  padding: 2px 20px 2px 8px;
}

.view_detail a {
  color: #fff;
  text-decoration: none;
}
